@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #0F172A;
    
    --card: #FFFFFF;
    --card-foreground: #0F172A;
    
    --popover: #FFFFFF;
    --popover-foreground: #0F172A;
    
    --primary: #2563EB;
    --primary-foreground: #FFFFFF;
    
    --secondary: #F8FAFC;
    --secondary-foreground: #0F172A;
    
    --muted: #F8FAFC;
    --muted-foreground: #64748B;
    
    --accent: #60A5FA;
    --accent-foreground: #FFFFFF;
    
    --destructive: #ef4444;
    --destructive-foreground: #FFFFFF;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #2563EB;

    --radius: 0.75rem;
  }

  .dark {
    --background: #070B12;
    --foreground: #F8FAFC;
    
    --card: #111827;
    --card-foreground: #F8FAFC;
    
    --popover: #111827;
    --popover-foreground: #F8FAFC;
    
    --primary: #2563EB;
    --primary-foreground: #FFFFFF;
    
    --secondary: #0D1420;
    --secondary-foreground: #F8FAFC;
    
    --muted: #0D1420;
    --muted-foreground: #94A3B8;
    
    --accent: #3B82F6;
    --accent-foreground: #FFFFFF;
    
    --destructive: #7f1d1d;
    --destructive-foreground: #f87171;

    --border: #1e293b;
    --input: #1e293b;
    --ring: #3B82F6;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}
